<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <%= render 'shared/logged_form' %>
    </aside>
    <div class="col-md-8">
      <h3>Micropost Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
  <div class="center jumbotron">
    <%= render 'shared/not_logged_form' %>
  </div>
  <%= link_to image_tag("rails.svg", alt: "Rails logo", width: "200px"),
                    "https://rubyonrails.org/" %>
  <%= link_to image_tag("kitten.jpg", alt: "Cat image", width: "50"),
                    "https://cdn.learnenough.com/kitten.jpg" %>
<% end %>