<%= form_with(model: @post, local: false) do |f| %>
  <!--object変数(key)に、参照しているオブジェクト(value)を渡す => パーシャルでobject変数を作成 -->
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.label :title, '投稿タイトル' %>
    <%= f.text_field :title, class: 'form-control', autofocus: true %>
    <%= f.label :content, '投稿文' %>
    <%= f.text_area :content %>
  </div>
  <%= f.submit yield(:button_text), class: "btn btn-primary" %>
<% end %>
