<%# 俺作った %>
<div class= "posts">
  <%= link_to gravatar_for(@post.user, size: 30), @post.user %>
  <span class="user">
    <%= @post.user.name %>
  </span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(@post.created_at) %> ago.
  </span>
</div>
<div class="show-content">
  <%= render 'post_edit', post: @post %>

  <h1> <%= @post.title %> </h1> 
  <%= @post.content %>
</div>

<%# いいね機能 %>
<span id="favorite_icon_<%= @post.id %>">
  <% unless current_user?(@user) %>
    <% if @post.favorited?(current_user) %>
      <%= render 'favorites/favorited_state', post: @post %>
    <% else %>
      <%= render 'favorites/unfavorited_state', post: @post %>
    <% end %>
  <% end %>
</span>
  <span id="favorite_count" class="middle-size"><%= @post.favorites.count %></span>
<div class="link_to margin-top">
  <%= link_to "いいねしたユーザー", post_favorites_path(@post) %>
</div>

<ol id="favorite_users">
  <%= render partial: 'favorites/favorite_user', favorite_users: @favorite_users %>
</ol>

<%# コメント機能 %>
<p class="margin-top">コメントする</p>
  <%= render 'comments/comment_form' %>
<p class="margin-top">コメント一覧</p>
<% @comments.each do |comment| %>
  <div class="comments">
    <%= render 'shared/user_small_info', c: comment %>
    <div class="comment_content"> <%= comment.comment_content %> </div>
    <%= render 'comments/comment_edit', post: @post, c: comment %>
  </div>
<% end %>

<div>
  <%#= link_to :root do %>
    <%# <button class="btn margin-top">back</button> %>
  <%# end %>
</div>