<%# 俺作った %>
<div class= "posts">
  <%= link_to gravatar_for(@post.user, size: 30), @post.user %>
  <span class="user">
    <%= @post.user.name %>
  </span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(@post.created_at) %> ago.
  </span>
</div>
<div class="show-content">
  <% if current_user?(@post.user) %>
  <!--post => post_path-->
    <%= link_to "delete", @post, method: :delete,
                               data: { confirm: "You sure?" } %>
  <%# 編集機能 %>
  <%= link_to "edit", edit_post_path(@post) %>
  <% end %>

  <h1> <%= @post.title %> </h1> 
  <%= @post.content %>
</div>

<%# いいね機能 %>
<span id="favorite_icon_<%= @post.id %>">
  <% unless current_user?(@user) %>
    <% if @post.favorited?(current_user) %>
      <%= render 'favorites/favorited_state', post: @post %>
    <% else %>
      <%= render 'favorites/unfavorited_state', post: @post %>
    <% end %>
  <% end %>
</span>
  <span id="favorite_count" class="middle-size"><%= @post.favorites.count %></span>
<p class="margin-top">いいねしたユーザー</p>
<ol id="favorite_user">
  <%= render partial: 'favorites/favorite_user', favorite_users: @favorite_users %>
</ol>

<%# コメント機能 %>
<p class="margin-top">コメントする</p>
<%= form_with(model:[@post, @comment], method: :post) do |f| %>
  <%= f.text_area :comment_content %>
  <%= f.hidden_field :post_id, value: @post.id %>
  <%= f.submit 'コメントする' %>
<% end %>
  <p class="margin-top">コメント一覧</p>
  <% @comments.each do |comment| %>
    <div class=comments>
      <%= link_to gravatar_for(comment.user, size: 30), comment.user %>
      <span class="user">
        <%= comment.user.name %>
      </span>
      <span class="timestamp">
        | Posted <%= time_ago_in_words(comment.created_at) %> ago.
      </span>
      <div class="comment_content"> <%= comment.comment_content %> </div>
    </div>
  <% end %>

<div>
  <%= link_to :back do %>
    <button class="btn margin-top">BACK</button>
  <% end %>
</div>