<li id="micropost-<%= micropost.id %>" >
    <%= link_to gravatar_for(micropost.user, size: 50), micropost.user %>
    <span class="user">
      <%= link_to micropost.user.name, micropost.user %>
    </span>
    <span class="content">
      <%= link_to micropost.content, micropost_url(micropost.id) %>
    </span>
    <span>
      <i class="fa-solid fa-thumbs-up"></i>
      <%= micropost.favorites.count %>
    </span>

    <!-- time_ago_in_words :何分前を表示するメソッド -->
    <span class="timestamp">
      Posted <%= time_ago_in_words(micropost.created_at) %> ago.
      <% if current_user?(micropost.user) %>
        <!--micropost => micropost_path-->
        <%= link_to "delete", micropost, method: :delete,
                                        data: { confirm: "You sure?" } %>
      <% end %>
    </span>
</li>