<%# 俺作った %>
<div class= "microposts">
  <%= link_to gravatar_for(@micropost.user, size: 30), @micropost.user %>
  <span class="user">
    <%= @micropost.user.name %>
  </span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(@micropost.created_at) %> ago.
  </span>
</div>
<div class="show-content">
  <%= @micropost.content %>
  <% if current_user?(@micropost.user) %>
  <!--micropost => micropost_path-->
    | <%= link_to "delete", @micropost, method: :delete,
                                        data: { confirm: "You sure?" } %>
  <% end %>
</div>

<% if current_user.already_favorited?(@micropost) %>
  <%# @micropost => micropost.id %>
  <%= link_to micropost_favorite_path(@micropost), class: "btn", method: :delete do %>
    <i class="fa-solid fa-thumbs-up fa-3x"></i>
  <% end %>
<% else %>
  <%# default => method: :post => postリクエストを送る %>
  <%= link_to micropost_favorites_path(@micropost), class: "btn", method: :post do %>
    <i class="fa-regular fa-thumbs-up fa-3x"></i>  
  <% end %>
<% end %>
<span class="middle-size"><%= @micropost.favorites.count %></span>
<p class="margin-top">いいねしたユーザー</p>
<% @micropost.favorited_users.each do |user| %>
  <li><%= user.name %></li>
<% end %>
<%= link_to :back do %>
  <button class="btn margin-top">BACK</button>
<% end %>